@mixin button-hover {
  transition: all 0.2s ease-in-out;
  padding: 10px 15px;

  &:hover {
    background-color: rgba($color: white, $alpha: 0.5);
  }
}


@mixin backgroundPrimaryColor($opacity) {
  background-color: rgba(79, 70, 185, $opacity);
}