<div class="expenses-list">
  @if (!expenses().length) {
  <br />
  <h3 style="text-align: center">Немає жодної витрати</h3>
  <br />
  } @else if (expensesByCategoryMap.size) {
  <div class="expenses-list__totals">
    <div
      class="expenses-list__expense-category"
      [class.active]="!selectedCategory"
      (click)="handleDayTotalClick()"
    >
      <h3 class="expenses-list__totals__day-total">За день:</h3>
      <app-total-amount [expenses]="expenses()" />
    </div>
    <h3>Категорії:</h3>
    <div class="expenses-list__totals__categories">
      @for (category of expensesByCategoryMap.keys(); track category.id) {
      <div
        (click)="handleCategoryTotal(category)"
        class="expenses-list__expense-category"
        [class.active]="selectedCategory && selectedCategory.id === category.id"
      >
        <span class="expenses-list__expense-category__category-name"
          >{{ category.title }}
        </span>
        <app-total-amount [expenses]="expensesByCategoryMap.get(category)" />
      </div>
      }
    </div>
  </div>
  } @for (key of expensesByShopMap.keys(); track key.id) { @if
  (expensesByShopMap.get(key).length) {
  <div class="expenses-list__item" (click)="handleSelectShop(key)">
    <div class="expenses-list__item__header">
      {{ key.title }}
      <span class="expenses-list__item__summ">
        <app-total-amount [expenses]="expensesByShopMap.get(key)" />
      </span>
    </div>

    @if (selectedShop && selectedShop.id === key.id) {
    <div class="expenses-list__item__details">
      @for (expense of expensesByShopMap.get(key); track expense.id) { @if
      (expense.title !== key.title) {
      <div class="expenses-list__item">
        <div class="expenses-list__item__header">
          {{ expense.title }}
          <span class="expenses-list__item__summ">{{ expense.sum }} грн.</span>
        </div>
      </div>
      } }
    </div>
    }
  </div>
  } }
</div>
