@import "./../../../styles.scss";

.main {
  border-radius: 30px;
  width: max-content;
  margin-inline: auto;
  padding: 20px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1365px) {
    width: 90vw;
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &__expenses-for {
    font-size: toRem(25);
    text-decoration: underline;
  }

  &__add-expense-button {
    border: none;
    border-radius: 50%;
    overflow: hidden;
    font-size: toRem(40);
    width: 50px;
    height: 50px;
    @include backgroundPrimaryColor(0.6);
    cursor: pointer;
    @include button-hover;
    padding: 0;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.3);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    @media screen and (max-width: 400px) {
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__start-page {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      display: inline-block;
    }
  }
}

.loader {
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: white;
  animation: rotate 0.2s linear infinite;
}

@keyframes rotate {
  from {
    border-radius: 0;
    transform: rotate(0);
    opacity: 0.5;
  }
  to {
    border-radius: 50%;
    transform: rotate(180deg);
    opacity: 1;
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba($color: whitesmoke, $alpha: 0.5);
  filter: blur(5px);
}
