@import "./../../../styles.scss";
@import "./../../../styles/funcs.scss";

.currencies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3px;
  color: rgba($color: whitesmoke, $alpha: 0.85);

  @media screen and (max-width: 400px) {
    justify-content: center;
  }

  &__currency {
    font-size: toRem(12);
    font-weight: bold;
  }
}